.contenedor-header {
  border-radius: 32px;
  margin: 10px 10px;
  padding: 1px;
  border: 1px solid lightblue;
  }

.fondoback {
  background-image: url("https://cutewallpaper.org/21/html-background-images/Html-background-image-2020-Printable-calendar-posters-.jpg");
  background-size: cover;
  background-position: center center;
  height: 31rem;
  display: flex;
  border-radius: 32px 32px 0px 0px;
  align-items: flex-start;
  

}

.logos {  
  display: flex;
  flex-direction: row;
  position: fixed;
}

.logos img{
  max-width: 200px;
  height: auto;
}

.foto-de-perfil img {
    width: 9rem;
    border-radius: 50%;
    margin-top: -180px;
    }

.acerca-de { 
      border-radius: 32px;
      margin: 10px 10px;
      padding: 1px;
      border: 1px solid lightblue;
     }
   
.contenedor-botones {
      width:  100%;
      display: flex;
      justify-content: flex-end;
      padding: 2rem;
     }

.contenido-botones a {
      text-decoration: none;
      font-size: 28px;
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      background: #0c2b3d;
      color: #f1f1f1;
      border-radius: 50%;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
      transition: all .4s ease-in-out;
      }
 
 .experiencia {
    border-radius: 32px;
    margin: 10px 10px;
    padding: 1px;
    border: 1px solid lightblue;
    display: flex;
    float: inline-start;
    }
  
  .experiencia i  {
      width:  100%;
      display: flex;
      justify-content: flex-end;
      padding: 2rem;

    }

  .experiencia h2 {
    width:  100%;
      display: flex;
      align-self: flex-end;
      padding: 2rem;
  }

       

.educacion {
  border-radius: 32px;
  margin: 10px 10px;
  padding: 1px;
  border: 1px solid lightblue;
}

.skills {
   border-radius: 32px;
   margin: 10px 10px;
   padding: 1px;
   border: 1px solid lightblue;  
}

.proyectos {
  border-radius: 32px;
  margin: 10px 10px;
  padding: 1px;
  border: 1px solid lightblue;
}



  